<div class="action-section-wrapper">
  <div class="action-section mat-elevation-z4">
    <div class="action-buttons">
      <button mat-raised-button color="primary" class="action-btn purple">
        <span>START A STOKVEL</span>
      </button>

      <button mat-raised-button color="accent" class="action-btn pink">
        <span>JOIN A STOKVEL</span>
      </button>

      <button mat-raised-button color="warn" class="action-btn blue">
        <span>REFER & EARN</span>
      </button>
    </div>
  </div>
</div>
