.main-content {
  margin-top: 104px;
  min-height: calc(100vh - 104px);
  overflow-x: hidden;
  background: transparent;
}

@media (max-width: 992px) {
  .main-content {
    margin-top: 64px;
    min-height: calc(100vh - 64px);
  }
}
