html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
  }

  body {
    font-family: "Open Sans", Arial, sans-serif;
  }

  .main-content {
    min-height: 100vh;
  }
