<footer class="footer">
  <div class="footer-content">
    <div class="footer-column">
      <h3>Invest</h3>
      <ul>
        <li><a href="#">Stocks</a></li>
        <li><a href="#">ETFs</a></li>
        <li><a href="#">Fractional Shares</a></li>
        <li><a href="#">US Markets</a></li>
        <li><a href="#">SA Markets</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Learn</h3>
      <ul>
        <li><a href="#">Investment Basics</a></li>
        <li><a href="#">Tutorials</a></li>
        <li><a href="#">Market News</a></li>
        <li><a href="#">Glossary</a></li>
        <li><a href="#">FAQs</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Company</h3>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Press</a></li>
        <li><a href="#">Partners</a></li>
        <li><a href="#">Legal</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Support</h3>
      <ul>
        <li><a href="#">Help Centre</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Security</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms of Service</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Connect With Us</h3>
      <div class="social-links">
        <a href="#"><mat-icon>facebook</mat-icon></a>
        <a href="#"><mat-icon>twitter</mat-icon></a>
        <a href="#"><mat-icon>instagram</mat-icon></a>
        <a href="#"><mat-icon>linkedin</mat-icon></a>
        <a href="#"><mat-icon>youtube</mat-icon></a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; {{ year }} eStokvel. All rights reserved. eStokvel is an authorised financial services provider.</p>
  </div>
</footer>
